
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    background-color: rgb(186, 73, 73);
    min-height: 100vh;
    width: 100%;
    color: white;
    transition: background-color 0.5s ease-in-out 0s;
    padding-bottom: 12px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif, serif;
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

header {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
}

header .menu {
    display: flex;
    align-items: center;

    width: 600px;
    height: 60px;
    background-color: rgb(186, 73, 73);
    border-bottom: 1px solid black;
    padding: 12px 6px;
}

.menu ul {
    text-decoration: none;
    list-style-type: none;

    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.menu ul li {
    cursor: pointer;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section .container {
    width: 460px;
}

.count-box {
    background-color: aquamarine;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.modes {
    display: flex;
    font-size: 80px;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}

.modes button {
    font-size: 1.2rem;
}

.timer {
    font-size: 6.25rem;
}

.start-btn {
    font-size: 3.0rem;
    cursor: pointer;
}

.tasks-container {
    width: 100%;
}

.tasks-header {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 30px;
    width: 100%;
    height: 30px;
}

.new-task {
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    color:#ffffff ;
    background-color: rgba(36, 34, 34, 0.568);
    border-radius: 8px;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 12px;
    border: 2px dashed
}